RewriteEngine On

RewriteRule ^home$ /index.html [L]
RewriteRule ^contact$ /contact.html [L]
RewriteRule ^about$ /about.html [L]
RewriteRule ^pricing$ /pricing.html [L]
RewriteRule ^how-it-works$ /how-it-works.html [L]